<html>
	<head>
		<title>create new inventory</title>
	<head>
	<link rel="stylesheet" href="style.css">
	<body>
		<H1>create new inventory</H1>
		<a href="/home" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Home</button></a>
	<a href="logout" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Logout</button></a>
		<hr><br>
		<table border="0" >
	    <form action="insertInventory" method="post" enctype="multipart/form-data">
		<tr><th> name: </th><td> <input type="text" name="name" minlength=1 required> </td></tr>
		<tr><th> type: </th><td> <input type="text" name="type"> </td></tr>
		<tr><th> quantity: </th><td> <input type="text" name="quantity"> </td></tr>
		<tr><th> photo: </th><td> <input type="file" name="filetoupload"> </td></tr>
		<tr><th>street: </th><td> <input type="text" name="street"> </td></tr>
		<tr><th>building: </th><td> <input type="text" name="building"> </td></tr>
		<tr><th>zipcode: </th><td> <input type="text" name="zipcode"> </td></tr>
		<tr><th> coord(lon.): </th><td> <input type="number" step="any" name="coordlon"> </td></tr>
		<tr><th>coord(lat.): </th><td> <input type="number" step="any" name="coordlat"> </td></tr>
		<tr><td> <input type="submit" value="insert">  </td><td></td></tr>
	    </form>
		</table>
	</body>
</html>
