<html>
    <head>
        <title>home</title>
	<link rel="stylesheet" href="style.css">
    </head>
    <body>
	<H1>Home</H1>
	<a href="/createInventory" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Create Inventory</button>
</a>
	<a href="/searchInventory" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Search Inventory</button>
</a>
	<a href="/viewInventory" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">View Inventory</button>
</a>
	<a href="logout" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Logout</button>
	<hr><br>
    </body>
</html>
