<html>
    <head>
        <title>searchInventory</title>

	<link rel="stylesheet" href="style.css">

    </head>
    <body>
	<H1>Search Inventory</H1>
	<a href="/home" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Home</button></a>
	<a href="logout" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Logout</button></a>
	<hr><br>

	<table border="0">
		<form action="searchResult" method="post" enctype="multipart/form-data">
			<tr><td><input type="text" name="searchitem"></td><td><input type="submit" value="search"></td></tr>
		</form>
	</table>

	<hr><br>
    </body>
</html>
